<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body>

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Homepage{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/upload_artwork.css' %}">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tag_add.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container" >
    <div id="block-position">

        <form  class="form-register" action="/artworkpage/search/" method="post" enctype="multipart/form-data">
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}

            {% csrf_token %}
            <h2 class="text-center">Search the artworks here!</h2>
            <div class="form-entry" style="margin-bottom: 20px">
                <h6>The tags you chose</h6>
            <textarea type="text" name="tags" id="tags" maxlength="512"
                      readonly="readonly" style="width: 400px; height: 24px; font-size:12px"></textarea>
                <h6>Choose or enter tags here!</h6>
            <input type="text" id="tagsInput" maxlength="128"  list="tagChoices" style="margin-bottom: 20px" >
            <button type="button" onclick="TagChoice()">enter</button>
            <datalist id="tagChoices">
                {% for tag in tags %}
                <option type="button" value="{{ tag }}"></option>
                {% endfor %}
            </datalist>
            <div class="form-entry">
            <button type="reset" class="btn btn-default pull-left">reset</button>
            <button type="submit" id="submit_button" class="btn btn-default pull-right">submit</button>
            </div>
            </div>
        </form>
    </div>

</div>
{% endblock %}
</body>
</html>