<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>Profile</title>
</head>
<body>

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Profile{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/image.css' %}">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/imglist.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container" >
    <div id="block-position">
        <div class="profile-tabs">
           <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
             <li class="nav-item">
                 <a class="nav-link" href="/user/profile" role="tab" data-toggle="tab">
                   <i class="material-icons">book</i>
                   Your artworks
                 </a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="/user/upload_artwork" role="tab" data-toggle="tab">
                   <i class="material-icons">palette</i>
                    Upload new Art
                 </a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="#bookedart" role="tab" data-toggle="tab">
                   <i class="material-icons">favorite</i>
                     Art booked
                 </a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="/user/editProfile" role="tab" data-toggle="tab">
                   <i class="material-icons">favorite</i>
                     Edit profile
                 </a>
             </li>
           </ul>
         </div>
    </div>
</div>
<div class="imgLayoutPanel">
    <li class="imgButtionList">
        <button id="FourButton" title="Four images each row" onclick="FourImagesOneLine()">
            4/row
        </button>
        <button id="ThreeButton" title="Three images each row" onclick="ThreeImagesOneLine()">
            3/row
        </button>
        <button id="TwoButton" title="Two images each row" onclick="TwoImagesOneLine()">
            2/row
        </button>
    </li>
</div>
<div class="imagePage">
{% if images %}
    <ul class="imgList" >
        {% for item in images %}
    <li class="imgItem" id="image4">
        <img class="image"   src="{{ item }}" ></img>
    </li>
    {% endfor %}
    </ul>


{% endif %}
</div>
{% endblock %}
</body>
</html>