<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<title>Profile</title>
</head>
<body>

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Profile{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/image.css' %}">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/imglist.js' %}"></script>
{% endblock %}


{% block content %}
<div class="container" >
    <div id="block-position">
        <div class="profile-tabs">
           <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
             <li class="nav-item">
                 <a class="nav-link" href="/user/profile" role="tab" data-toggle="tab">
                   <i class="material-icons">book</i>
                   Your artworks
                 </a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="/user/upload_artwork" role="tab" data-toggle="tab">
                   <i class="material-icons">palette</i>
                    Upload new Art
                 </a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="/user/booked_artwork" role="tab" data-toggle="tab">
                   <i class="material-icons">favorite</i>
                     Art booked
                 </a>
             </li>
            <li class="nav-item">
                 <a class="nav-link" href="/user/lent_artwork" role="tab" data-toggle="tab">
                   <i class="material-icons">favorite</i>
                     Art lent out
                 </a>
             </li>
             <li class="nav-item">
                 <a class="nav-link" href="/user/editProfile" role="tab" data-toggle="tab">
                   <i class="material-icons">favorite</i>
                     Edit profile
                 </a>
             </li>
           </ul>
         </div>
    </div>
</div>
<div class="imgLayoutPanel">
                {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}
    <li class="imgButtionList">
        <button id="FourButton" title="Four images each row" onclick="FourImagesOneLine()">
            4/row
        </button>
        <button id="ThreeButton" title="Three images each row" onclick="ThreeImagesOneLine()">
            3/row
        </button>
        <button id="TwoButton" title="Two images each row" onclick="TwoImagesOneLine()">
            2/row
        </button>
    </li>
</div>
<div class="imagePage">
{% if images %}
    <ul class="imgList" >
         {% for item in images %}

    <li class="imgItem" id="image4">
        {{ item.0 }}
        <img class="image"   src="{{ item.1 }}" >
    <div style="width:100%;text-align:center; height: 100px" >
        {% if profile %}
        <form  class="form-register" action="/user/edit_artwork/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" style="display: none" value="{{item.0}}" name="name">
        <button type="submit" class="btn btn-white" style="float: left; width: 32%; margin-left: 5%; margin-right: 16%">Edit</button>
        </form>
        <form  class="form-register" action="/user/delete_artwork/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" style="display: none" value="{{item.0}}" name="name">
            <button type="submit" class="btn btn-warning" style="width:42%; float: left">Delete</button>
        </form>
        {% elif lent %}
        {% if item.2 %}
        <form  class="form-register" action="/booking/review/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" style="display: none" value="{{item.0}}" name="name">
        <button type="submit" class="btn btn-white" style="float: left; width: 32%; margin-left: 5%; margin-right: 16%">Review</button>
        </form>
        {% else %}
        <form  class="form-register" action="/booking/accept/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" style="display: none" value="{{item.0}}" name="name">
        <button type="submit" class="btn btn-white" style="float: left; width: 32%; margin-left: 5%; margin-right: 16%">Confirm</button>
        </form>
         <form  class="form-register" action="/booking/cancel/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" style="display: none" value="{{item.0}}" name="name">
            <button type="submit" class="btn btn-warning" style="width:42%; float: left">Decline</button>
        </form>
        {% endif %}
        {% elif booked %}
        <form  class="form-register" action="/booking/review/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" style="display: none" value="{{item.0}}" name="name">
        <button type="submit" class="btn btn-white" style="float: left; width: 32%; margin-left: 5%; margin-right: 16%">Review</button>
        </form>
        <form  class="form-register" action="/booking/cancel/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" style="display: none" value="{{item.0}}" name="name">
            <button type="submit" class="btn btn-warning" style="width:42%; float: left">Cancel</button>
        </form>
        {% endif %}


    </div>
    </li>

   {% endfor %}

    </ul>

{% endif %}
</div>
{% endblock %}
</body>
</html>