<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload artwork</title>
</head>
<body>

{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Log in{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/upload_artwork.css' %}">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/upload_artwork.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tag_add.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container" >
    <div id="block-position">

        <form  class="form-register" action="/user/upload_artwork/" method="post" enctype="multipart/form-data">
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}

            {% csrf_token %}
            <h2 class="text-center">Welcome to upload!</h2>

            <div class="form-group">Input the name of this artwork
                <input type="text" name="name" id="name" maxlength="128" style="width: 400px">
            </div>
            <div class="form-group">Input the price you want (dollars/day)
                <input type="number" step="1" name="price" id="price" maxlength="24" style="width: 400px">
            </div>
            <div class="form-group">Upload the image
                <input type="file" accept="image/*" name="image" id="image" onchange="verificationPicFile(this)">
            </div>
            <div class="form-group" style="display: none">
                <input type="text" name="thumbnail" id="thumbnail" >
            </div>
            <div class="form-entry" style="margin-bottom: 20px">
                <h6>The tags you chose</h6>
            <textarea type="text" name="tags" id="tags" maxlength="512"
                      readonly="readonly" style="width: 400px; height: 24px; font-size:12px"></textarea>
                <h6>Choose or enter tags here!</h6>
            <input type="text" id="tagsInput" maxlength="128"  list="tagChoices" style="margin-bottom: 20px" >
            <button type="button" onclick="TagChoice()">enter</button>
            <datalist id="tagChoices">
                {% for tag in tags %}
                <option type="button" value="{{ tag }}"></option>
                {% endfor %}
            </datalist>
            <div class="form-entry">
            <button type="reset" class="btn btn-default pull-left">reset</button>
            <button type="submit" id="submit_button" class="btn btn-default pull-right">submit</button>
            </div>
            </div>
        </form>
    </div>

</div>
{% endblock %}
</body>
</html>