.imagePage {
  max-width: 1200px;
  padding: 0px;
  margin: 0 auto;
}

.imgList {
  padding: 0px;
  margin: 0 auto;
}

.imgItem {
  padding: 0px;
  height: 300px;
  margin: 5% 1% 5% 1%;
  /*top,right,bottom,left*/
  list-style:none;
  float:left;
}

#image4{
  width:23%;
}
#image3{
  width:31%;
}
#image2{
  width:48%;
}
.image{
  width:100%;
  height:100%;
}

.imgLayoutPanel{
  margin: 0 auto;
  padding: 15px;
  max-width: 1200px;
  height: 100px;
}

.imgButtionList{
  margin-left: 80%;
  list-style:none;
  float:left;
}